<%= provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">
		<selection class="user_info">
			 <h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1> 
			<section class="stats">
      			<%= render 'shared/stats' %>
    		</section>
		</selection>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>

